In [1]:
import numpy as np
import pandas as pd

In [2]:
churn_data = pd.read_csv('Churn_Modelling.csv')

In [3]:
churn_data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
geo = pd.get_dummies(churn_data['Geography'],drop_first=True)

In [8]:
genre = pd.get_dummies(churn_data['Gender'],drop_first=True)

In [11]:
data = churn_data.drop(['RowNumber','CustomerId','Surname','Geography','Gender'],axis=1)

In [13]:
data = pd.concat([data,genre,geo],axis=1)

In [15]:
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Male,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [16]:
X = data.drop('Exited',axis=1)
y = data['Exited']

In [20]:

X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Male,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1

In [21]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [25]:
X.max()

CreditScore           850.00
Age                    92.00
Tenure                 10.00
Balance            250898.09
NumOfProducts           4.00
HasCrCard               1.00
IsActiveMember          1.00
EstimatedSalary    199992.48
Male                    1.00
Germany                 1.00
Spain                   1.00
dtype: float64

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
sc = StandardScaler()

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [31]:
y_train.shape

(7000,)

In [32]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
# Deep learning

In [34]:
import keras

D:\Anaconda\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [35]:
from keras.models import Sequential
from keras.layers import Dense

In [36]:
cl = Sequential()

In [37]:
cl.add(Dense(units= 6, activation='relu',kernel_initializer='uniform',input_dim=11))

In [38]:
cl.add(Dense(units= 6, activation='relu',kernel_initializer='uniform'))

In [48]:
cl.add(Dense(units= 1, activation='tanh',kernel_initializer='uniform'))

In [49]:
cl.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [50]:
cl.fit(X_train,y_train,epochs = 100, batch_size= 10)

Epoch 1/100
7000/7000 [==============================] - 3s 497us/step - loss: 0.5404 - acc: 0.7924
Epoch 2/100
7000/7000 [==============================] - 1s 189us/step - loss: 0.4509 - acc: 0.7924
Epoch 3/100
7000/7000 [==============================] - 1s 186us/step - loss: 0.4319 - acc: 0.7924
Epoch 4/100
7000/7000 [==============================] - 1s 182us/step - loss: 0.4224 - acc: 0.7924
Epoch 5/100
7000/7000 [==============================] - 1s 185us/step - loss: 0.4169 - acc: 0.8131
Epoch 6/100
7000/7000 [==============================] - 1s 182us/step - loss: 0.4133 - acc: 0.8291
Epoch 7/100
7000/7000 [==============================] - 1s 187us/step - loss: 0.4108 - acc: 0.8299
Epoch 8/100
7000/7000 [==============================] - 1s 187us/step - loss: 0.4086 - acc: 0.8297
Epoch 9/100
7000/7000 [==============================] - 1s 190us/step - loss: 0.4074 - acc: 0.8319
Epoch 10/100
7000/7000 [==============================] - 1s 198us/step - loss: 0.4059 - acc: 0.8306
Epoch 11/100
7000/7000 [==============================] - 1s 202us/step - loss: 0.4050 - acc: 0.8304
Epoch 12/100
7000/7000 [==============================] - 1s 195us/step - loss: 0.4041 - acc: 0.8316
Epoch 13/100
7000/7000 [==============================] - 1s 186us/step - loss: 0.4033 - acc: 0.8329
Epoch 14/100
7000/7000 [==============================] - 1s 187us/step - loss: 0.4027 - acc: 0.8313
Epoch 15/100
7000/7000 [==============================] - 1s 184us/step - loss: 0.4026 - acc: 0.8340
Epoch 16/100
7000/7000 [==============================] - 1s 188us/step - loss: 0.4023 - acc: 0.8324
Epoch 17/100
7000/7000 [==============================] - 1s 194us/step - loss: 0.4011 - acc: 0.8327
Epoch 18/100
7000/7000 [==============================] - 1s 188us/step - loss: 0.4015 - acc: 0.8320
Epoch 19/100
7000/7000 [==============================] - 1s 187us/step - loss: 0.4005 - acc: 0.8337
Epoch 20/100
7000/7000 [==============================] - 1s 192us/step - loss: 0.4006 - acc: 0.8326
Epoch 21/100
7000/7000 [==============================] - 2s 216us/step - loss: 0.4007 - acc: 0.8336
Epoch 22/100
7000/7000 [==============================] - 1s 190us/step - loss: 0.4004 - acc: 0.8333
Epoch 23/100
7000/7000 [==============================] - 1s 191us/step - loss: 0.4000 - acc: 0.8337
Epoch 24/100
7000/7000 [==============================] - 1s 193us/step - loss: 0.4002 - acc: 0.8334
Epoch 25/100
7000/7000 [==============================] - 1s 196us/step - loss: 0.4000 - acc: 0.8323
Epoch 26/100
7000/7000 [==============================] - 1s 195us/step - loss: 0.3997 - acc: 0.8330
Epoch 27/100
7000/7000 [==============================] - 1s 209us/step - loss: 0.3996 - acc: 0.8341
Epoch 28/100
7000/7000 [==============================] - 1s 202us/step - loss: 0.3992 - acc: 0.8350
Epoch 29/100
7000/7000 [==============================] - 1s 198us/step - loss: 0.3992 - acc: 0.8320
Epoch 30/100
7000/7000 [==============================] - 1s 209us/step - loss: 0.3992 - acc: 0.8339
Epoch 31/100
7000/7000 [==============================] - 1s 206us/step - loss: 0.3989 - acc: 0.8343
Epoch 32/100
7000/7000 [==============================] - 1s 196us/step - loss: 0.3985 - acc: 0.8364
Epoch 33/100
7000/7000 [==============================] - 1s 200us/step - loss: 0.3986 - acc: 0.8333
Epoch 34/100
7000/7000 [==============================] - 1s 197us/step - loss: 0.3979 - acc: 0.8343
Epoch 35/100
7000/7000 [==============================] - 1s 200us/step - loss: 0.3976 - acc: 0.8337
Epoch 36/100
7000/7000 [==============================] - 1s 195us/step - loss: 0.3967 - acc: 0.8359
Epoch 37/100
7000/7000 [==============================] - 1s 193us/step - loss: 0.3969 - acc: 0.8353
Epoch 38/100
7000/7000 [==============================] - 1s 197us/step - loss: 0.3967 - acc: 0.8354
Epoch 39/100
7000/7000 [==============================] - 1s 193us/step - loss: 0.3963 - acc: 0.8347
Epoch 40/100
7000/7000 [==============================] - 1s 196us/step - loss: 0.3955 - acc: 0.8361
Epoch 41/100
7000/7000 [==============================] - 1s 199us/step - loss: 0.3950 - acc: 0.8357
Epoch 42/100
7000/7000 [==============================] - 2s 215us/step - loss: 0.3940 - acc: 0.8366
Epoch 43/100
7000/7000 [==============================] - 1s 200us/step - loss: 0.3921 - acc: 0.8396
Epoch 44/100
7000/7000 [==============================] - 1s 198us/step - loss: 0.3897 - acc: 0.8403
Epoch 45/100
7000/7000 [==============================] - 1s 208us/step - loss: 0.3864 - acc: 0.8434
Epoch 46/100
7000/7000 [==============================] - 1s 199us/step - loss: 0.3839 - acc: 0.8443
Epoch 47/100
7000/7000 [==============================] - 1s 198us/step - loss: 0.3810 - acc: 0.8453
Epoch 48/100
7000/7000 [==============================] - 1s 212us/step - loss: 0.3780 - acc: 0.8464
Epoch 49/100
7000/7000 [==============================] - 1s 206us/step - loss: 0.3753 - acc: 0.8491
Epoch 50/100
7000/7000 [==============================] - 1s 193us/step - loss: 0.3709 - acc: 0.8500
Epoch 51/100
7000/7000 [==============================] - 1s 183us/step - loss: 0.3650 - acc: 0.8530
Epoch 52/100
7000/7000 [==============================] - 1s 172us/step - loss: 0.3602 - acc: 0.8557
Epoch 53/100
7000/7000 [==============================] - 1s 175us/step - loss: 0.3556 - acc: 0.8551
Epoch 54/100
7000/7000 [==============================] - 1s 185us/step - loss: 0.3513 - acc: 0.8580
Epoch 55/100
7000/7000 [==============================] - 1s 201us/step - loss: 0.3500 - acc: 0.8581
Epoch 56/100
7000/7000 [==============================] - 1s 206us/step - loss: 0.3481 - acc: 0.8594
Epoch 57/100
7000/7000 [==============================] - 1s 212us/step - loss: 0.3471 - acc: 0.8589
Epoch 58/100
7000/7000 [==============================] - 1s 201us/step - loss: 0.3465 - acc: 0.8594
Epoch 59/100
7000/7000 [==============================] - 1s 206us/step - loss: 0.3461 - acc: 0.8586
Epoch 60/100
7000/7000 [==============================] - 1s 210us/step - loss: 0.3450 - acc: 0.8591
Epoch 61/100
7000/7000 [==============================] - 1s 208us/step - loss: 0.3451 - acc: 0.8594
Epoch 62/100
7000/7000 [==============================] - 1s 207us/step - loss: 0.3449 - acc: 0.8597
Epoch 63/100
7000/7000 [==============================] - 1s 209us/step - loss: 0.3455 - acc: 0.8599
Epoch 64/100
7000/7000 [==============================] - 1s 203us/step - loss: 0.3440 - acc: 0.8583
Epoch 65/100
7000/7000 [==============================] - 1s 206us/step - loss: 0.3440 - acc: 0.8593
Epoch 66/100
7000/7000 [==============================] - 1s 203us/step - loss: 0.3439 - acc: 0.8577
Epoch 67/100
7000/7000 [==============================] - 1s 204us/step - loss: 0.3439 - acc: 0.8587
Epoch 68/100
7000/7000 [==============================] - 2s 215us/step - loss: 0.3438 - acc: 0.8586
Epoch 69/100
7000/7000 [==============================] - 1s 206us/step - loss: 0.3438 - acc: 0.8566
Epoch 70/100
7000/7000 [==============================] - 1s 203us/step - loss: 0.3433 - acc: 0.8601
Epoch 71/100
7000/7000 [==============================] - 1s 202us/step - loss: 0.3435 - acc: 0.8591
Epoch 72/100
7000/7000 [==============================] - 1s 204us/step - loss: 0.3434 - acc: 0.8576
Epoch 73/100
7000/7000 [==============================] - 1s 201us/step - loss: 0.3443 - acc: 0.8590
Epoch 74/100
7000/7000 [==============================] - 1s 195us/step - loss: 0.3430 - acc: 0.8587
Epoch 75/100
7000/7000 [==============================] - 1s 202us/step - loss: 0.3425 - acc: 0.8580
Epoch 76/100
7000/7000 [==============================] - 1s 206us/step - loss: 0.3428 - acc: 0.8576
Epoch 77/100
7000/7000 [==============================] - 1s 202us/step - loss: 0.3428 - acc: 0.8591
Epoch 78/100
7000/7000 [==============================] - 1s 206us/step - loss: 0.3430 - acc: 0.8581
Epoch 79/100
7000/7000 [==============================] - 1s 208us/step - loss: 0.3427 - acc: 0.8583
Epoch 80/100
7000/7000 [==============================] - 1s 206us/step - loss: 0.3428 - acc: 0.8579
Epoch 81/100
7000/7000 [==============================] - 1s 207us/step - loss: 0.3420 - acc: 0.8600
Epoch 82/100
7000/7000 [==============================] - 1s 183us/step - loss: 0.3427 - acc: 0.8573
Epoch 83/100
7000/7000 [==============================] - 1s 177us/step - loss: 0.3421 - acc: 0.8591
Epoch 84/100
7000/7000 [==============================] - 1s 186us/step - loss: 0.3428 - acc: 0.8599
Epoch 85/100
7000/7000 [==============================] - 1s 192us/step - loss: 0.3420 - acc: 0.8596
Epoch 86/100
7000/7000 [==============================] - 1s 184us/step - loss: 0.3427 - acc: 0.8594
Epoch 87/100
7000/7000 [==============================] - 1s 181us/step - loss: 0.3425 - acc: 0.8600
Epoch 88/100
7000/7000 [==============================] - 1s 181us/step - loss: 0.3421 - acc: 0.8599
Epoch 89/100
7000/7000 [==============================] - 1s 196us/step - loss: 0.3426 - acc: 0.8589
Epoch 90/100
7000/7000 [==============================] - 1s 193us/step - loss: 0.3422 - acc: 0.8586
Epoch 91/100
7000/7000 [==============================] - 1s 188us/step - loss: 0.3419 - acc: 0.8616
Epoch 92/100
7000/7000 [==============================] - 1s 195us/step - loss: 0.3425 - acc: 0.8589
Epoch 93/100
7000/7000 [==============================] - 1s 187us/step - loss: 0.3423 - acc: 0.8589
Epoch 94/100
7000/7000 [==============================] - 1s 187us/step - loss: 0.3418 - acc: 0.8577
Epoch 95/100
7000/7000 [==============================] - 1s 193us/step - loss: 0.3420 - acc: 0.8591
Epoch 96/100
7000/7000 [==============================] - 1s 190us/step - loss: 0.3422 - acc: 0.8561
Epoch 97/100
7000/7000 [==============================] - 1s 191us/step - loss: 0.3411 - acc: 0.8599
Epoch 98/100
7000/7000 [==============================] - 1s 193us/step - loss: 0.3419 - acc: 0.8603
Epoch 99/100
7000/7000 [==============================] - 1s 201us/step - loss: 0.3418 - acc: 0.8617
Epoch 100/100
7000/7000 [==============================] - 1s 201us/step - loss: 0.3422 - acc: 0.8603

In [51]:
pred = cl.predict(X_test)

In [52]:
pred_class = cl.predict_classes(X_test)

In [53]:
pred_class

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [56]:
from sklearn.metrics import classification_report, confusion_matrix

In [57]:
print(classification_report(y_test,pred_class))

             precision    recall  f1-score   support

          0       0.88      0.97      0.92      2416
          1       0.77      0.45      0.57       584

avg / total       0.86      0.87      0.85      3000

In [58]:
confusion_matrix(y_test,pred_class)

array([[2335,   81],
       [ 319,  265]], dtype=int64)

In [59]:
(2335 + 265) / 3000

0.8666666666666667